<div class="internship-details">
  <div class="grid-container">
    <div class="internship-title">title</div>
    <div class="internship-desc">descriere</div>
    <div class="internship-skills">skills</div>
    <div class="internship-attr">attributes</div>
    <div class="internship-req">requirements</div>
    <div class="internship-status"><ul>
      <li>full-time/part-time</li>
      <li>locuri</li>
      <li>status</li>
    </ul></div>
    <div class="internship_date">date</div>
    <div class="internship-logo">logo</div>
    <div class="internship-tags">
    <ul>
      <li>#tag</li>
      <li>#tag</li>
    </ul>
    </div>
  </div>
</div>
