<div class="internship-details">
  <div class="grid-container">
    <div class="internship-title">{{internshipDetails.title}}</div>
    <div class="internship-desc">{{internshipDetails.description}}</div>
    <div class="internship-skills">{{internshipDetails.skills}}</div>
    <div class="internship-attr">{{internshipDetails.attributes}}</div>
    <div class="internship-req">{{internshipDetails.requirements}}</div>
    <div class="internship-status"><ul>
      <li>{{internshipDetails.type}}</li>
      <li>{{internshipDetails.locuri}}</li>
      <li>{{internshipDetails.status}}</li>
    </ul></div>
    <div class="internship_date">{{internshipDetails.deadline | date: 'yyyy-MM-dd'}}</div>
    <div class= "internship-logo"> <img src="{{internshipDetails.logo}}"> </div>
    <div class="internship-tags">
    <ul>
      <li *ngFor = "let tag of internshipDetails.tags">{{tag}}</li>
    </ul>
    </div>
  </div>
</div>
