<div class="container">
  <div class="component-main-content">

    <div class="row">
      <div class="col-sm-8">
        <app-message-card></app-message-card>
      </div>

      <div class="col-sm-4">
        <app-mini-profile></app-mini-profile>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <app-internships-list-for-applicant></app-internships-list-for-applicant>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <app-business-list></app-business-list>
      </div>
      <div class="col-sm-9">
        <div class="card">
          <div class="card-body">
            <app-xyline-chart></app-xyline-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8"></div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <app-pie-chart></app-pie-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
