<div class="card hovercard w-100 h-100">
  <div class="cardheader">

  </div>
  <div class="avatar">
    <img alt="" src="{{applicant.contact.photo.url}}">
  </div>
  <div class="info">
    <div class="title">
      <a target="_blank" href="{{applicant.contact.website}}">{{applicant.firstName +' '+ applicant.lastName}}</a>
    </div>
  </div>
  <div class="bottom">
    <a class="btn btn-primary btn-sm" href="{{applicant.contact.linkedinLink}}">
      <i class="fa fa-linkedin"></i>
    </a>
    <a class="btn btn-danger btn-sm" rel="publisher"
       href="https://plus.google.com/+ahmshahnuralam">
      <i class="fa fa-google-plus"></i>
    </a>
    <a class="btn btn-primary btn-sm" rel="publisher"
       href="{{applicant.contact.facebookLink}}">
      <i class="fa fa-facebook"></i>
    </a>

  </div>
</div>
