<div class="card hovercard">
  <div class="cardheader">

  </div>
  <div class="avatar">
    <img alt="" src="../../../../../assets/img/dashboard/face-1.jpg">
  </div>
  <div class="info">
    <div class="title">
      <a target="_blank" href="#">{{nameToDisplay}}</a>
    </div>
    <div class="desc">Passionate designer</div>
  </div>
  <div class="bottom">
    <a class="btn btn-primary btn-sm" href="https://linkedin.com">
      <i class="fa fa-linkedin"></i>
    </a>
    <a class="btn btn-danger btn-sm" rel="publisher"
       href="https://plus.google.com/+ahmshahnuralam">
      <i class="fa fa-google-plus"></i>
    </a>
    <a class="btn btn-primary btn-sm" rel="publisher"
       href="https://plus.google.com/shahnuralam">
      <i class="fa fa-facebook"></i>
    </a>

  </div>
</div>
