<div class="container content" *ngIf="applicant">

  <mat-card class="example-card">
    <mat-card-content>
      <div class="row">
        <div class="col-sm-12">
          <img src={{applicant.contact.photo.path}} alt="..." class="profile-pic">
          <div class="float-right">
            <button mat-raised-button (click)="openBasicEditDialog()">Edit</button>
          </div>
        </div>
        <div class="col-sm-12">
          <h1>{{applicant.firstName}} {{applicant.lastName}}</h1>
        </div>
        <div class="col-sm-12">
          <h4>{{applicant.birthday}}</h4>
        </div>
      </div>
      <div class="divider">
        <mat-divider></mat-divider>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h6>{{applicant.description}}</h6>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div class="card-title-wrapper">
        <mat-card-title>
          <h2>Contact</h2>
        </mat-card-title>
      </div>
      <div class="float-right">
        <button mat-raised-button (click)="openContactEditDialog()">Edit</button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-sm-12 col-md-2 ">
          <h5>Phone:</h5>
        </div>
        <div class="col-sm-12 col-md-10">
          <h5>{{applicant.contact.phoneNumber}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-2 ">
          <h5>Email:</h5>
        </div>
        <div class="col-sm-12 col-md-10">
          <h5>{{applicant.user.email}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-2 ">
          <h5>Linkedin:</h5>
        </div>
        <div class="col-sm-12 col-md-10">
          <h5><a href="{{applicant.contact.linkedinLink}}"> {{applicant.contact.linkedinLink}}</a></h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-2 ">
          <h5>Facebook:</h5>
        </div>
        <div class="col-sm-12 col-md-10">
          <h5><a href={{applicant.contact.facebookLink}}> {{applicant.contact.facebookLink}}</a></h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-2 ">
          <h5>Website:</h5>
        </div>
        <div class="col-sm-12 col-md-10">
          <h5><a href={{applicant.contact.website}}> {{applicant.contact.website}}</a></h5>
        </div>
      </div>
      <div class="divider">
        <mat-divider></mat-divider>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h4>Adress</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-2 ">
          <h5>Country:</h5>
        </div>
        <div class="col-sm-12 col-md-10">
          <h5>{{applicant.contact.address.country}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-2 ">
          <h5>City:</h5>
        </div>
        <div class="col-md-6 col-lg-4">
          <h5>{{applicant.contact.address.town}}</h5>
        </div>
        <div class="col-md-6 col-lg-2 ">
          <h5>County:</h5>
        </div>
        <div class="col-md-6 col-lg-4">
          <h5>{{applicant.contact.address.county}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-2 ">
          <h5>Street:</h5>
        </div>
        <div class="col-md-6 col-lg-4">
          <h5>{{applicant.contact.address.street}}</h5>
        </div>
        <div class="col-md-6 col-lg-2 ">
          <h5>Number:</h5>
        </div>
        <div class="col-md-6 col-lg-4">
          <h5>{{applicant.contact.address.number}}</h5>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div class="card-title-wrapper">
        <mat-card-title>
          <h2>Education</h2>
        </mat-card-title>
      </div>
      <div class="float-right">
        <button mat-icon-button color="primary" (click)="openAddEducationDialog()">
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let education of educationList; let lastItem = last;">
          <div class="card-title-wrapper">
            <app-education [education]=education></app-education>
          </div>
          <div class="float-right">
            <button mat-icon-button color="warn" (click)="deleteEducation(education.id)">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </div>
          <mat-divider *ngIf="!lastItem"></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div class="card-title-wrapper">
        <mat-card-title>
          <h2>Skills</h2>
        </mat-card-title>
      </div>
      <div class="float-right">
        <button mat-icon-button color="primary" (click)="openAddSkillDialog()">
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let skill of skillsList; let lastItem = last;">
          <div class="card-title-wrapper skill-item">
            <p>{{skill.name}}</p>
          </div>
          <div class="float-right skill-button">
            <button mat-icon-button color="warn" (click)="deleteSkill(skill.id)">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </div>
          <mat-divider *ngIf="!lastItem"></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

</div>
