<div class="container content" *ngIf="applicant">


  <mat-card class="example-card">
    <mat-card-content>
      <div class="row">
        <div class="col-sm-12">
          <img src={{applicant.contact.photo.path}} alt="..." class="profile-pic">
          <div class="float-right">
            <button mat-raised-button (click)="openBasicEditDialog()">Edit</button>
          </div>
        </div>
        <div class="col-sm-12">
          <h1>{{applicant.firstName}} {{applicant.lastName}}</h1>
        </div>
        <div class="col-sm-12">
          <h4>{{applicant.birthday}}</h4>
        </div>

      </div>
      <div class="divider">
        <mat-divider></mat-divider>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h6>{{applicant.description}}</h6>
        </div>
      </div>
    </mat-card-content>
  </mat-card>


  <mat-card class="example-card">
    <mat-card-header>
      <div class="card-title-wrapper">
        <mat-card-title>
          <h2>Contact</h2>
        </mat-card-title>
      </div>
      <div class="float-right">
        <button mat-raised-button (click)="openContactEditDialog()">Edit</button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-sm-12 col-md-2 ">
          <h5>Phone:</h5>
        </div>
        <div class="col-sm-12 col-md-10">
          <h5>{{applicant.contact.phoneNumber}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-2 ">
          <h5>Email:</h5>
        </div>
        <div class="col-sm-12 col-md-10">
          <h5>{{applicant.user.email}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-2 ">
          <h5>Linkedin:</h5>
        </div>
        <div class="col-sm-12 col-md-10">
          <h5><a href="{{applicant.contact.linkedinLink}}"> {{applicant.contact.linkedinLink}}</a></h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-2 ">
          <h5>Facebook:</h5>
        </div>
        <div class="col-sm-12 col-md-10">
          <h5><a href={{applicant.contact.facebookLink}}> {{applicant.contact.facebookLink}}</a></h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-2 ">
          <h5>Website:</h5>
        </div>
        <div class="col-sm-12 col-md-10">
          <h5><a href={{applicant.contact.website}}> {{applicant.contact.website}}</a></h5>
        </div>
      </div>
      <div class="divider">
        <mat-divider></mat-divider>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h4>Adress</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-2 ">
          <h5>Country:</h5>
        </div>
        <div class="col-sm-12 col-md-10">
          <h5>{{applicant.contact.address.country}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-2 ">
          <h5>City:</h5>
        </div>
        <div class="col-md-6 col-lg-4">
          <h5>{{applicant.contact.address.town}}</h5>
        </div>
        <div class="col-md-6 col-lg-2 ">
          <h5>Country:</h5>
        </div>
        <div class="col-md-6 col-lg-4">
          <h5>{{applicant.contact.address.county}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-2 ">
          <h5>Street:</h5>
        </div>
        <div class="col-md-6 col-lg-4">
          <h5>{{applicant.contact.address.street}}</h5>
        </div>
        <div class="col-md-6 col-lg-2 ">
          <h5>Number:</h5>
        </div>
        <div class="col-md-6 col-lg-4">
          <h5>{{applicant.contact.address.number}}</h5>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2>Studii</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-sm-12 col-md-2 ">
          <h4>Facultate:</h4>
        </div>
        <div class="col-sm-12 col-md-10">
          <h4>--</h4>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="float-right">
    <button mat-raised-button (click)="openDialog()">Edit</button>
  </div>
</div>
