.example-container > * {
  width: 100%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.mat-card {
  margin-bottom: 20px;
}

.profile-pic {
  display: inline-block;
  width: 250px;
  height: 250px;
  border-radius: 50%;

  object-fit: cover;
  border: 7px solid rgb(255, 255, 255);
  -webkit-box-shadow: 0px 0px 13px 3px rgba(71,126,208,1);
  -moz-box-shadow: 0px 0px 13px 3px rgba(71,126,208,1);
  box-shadow: 0px 0px 13px 3px rgba(71,126,208,1);
}

.mat-card-header-text-wrapper {
  width: 100%;
}

.card-title-wrapper {
  width: 100%;
}

.mat-divider {
  display: block;
  border-top-width: 2px;
  border-top-style: solid;
  margin-left: 3%;
  width: 94% !important;
  padding-bottom: 15px;
}
.button{
  width: 100% !important;
}
.divider {
  height: 15px;
}

.mat-list .mat-list-item {
  display: block;
  height: 100%;
}

.skill-item {
  min-height: 50px;
}

.skill-button {
  padding-bottom: 20px;
}

.cv-button-wrapper {
  padding-bottom: 10px;
}

.fixed-font{
  font-weight: normal !important;
  font-size: 15px !important;
}

.input-file {
  display: none
}

.top-gradient-div {
  height: 170px;
  background: #000046;
  background: -webkit-linear-gradient(to right, #477ed0, #000046);
  background: linear-gradient(to right, #477ed0, #000046);
}

.image-wrapper {
  position: absolute;
  z-index: 2;
  padding: 46px;
}

.name-wrapper {
  margin-top: 110px;
}

.edit-button {
  float: right;
  margin-bottom: 15px;
  z-index: 3;
  width: 100%;
}

.upload-button {
  width: 100%;
}
