<mat-card class="internship-details">
  <div class="grid-container">
    <mat-card-title class="internship-title">{{companyDetail.name}}</mat-card-title>
    <div class="internship-desc">{{companyDetail.description}}</div>
    <div class="internship-status"><ul>
      <li>{{companyDetail.dimension}}</li>
      <li>{{companyDetail.views}}</li>
      <li>{{companyDetail.contact}}</li>
      <li>{{companyDetail.user}}</li>
    </ul></div>
    <a mat-stroked-button class="internship-apply">Aplica</a>
  </div>
</mat-card>
