<form [formGroup]="filterForm" class="form-group">
  <mat-expansion-panel>
        
    <mat-expansion-panel-header>
      <mat-panel-title>
        Filter internships
      </mat-panel-title>
      <mat-panel-description>
        Cauta internship dupa un filtru
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-chip-list #chipListCompany>
        <mat-chip *ngFor="let company of selectedCompanies" [selectable]="false" [removable]="removable" (removed)="removeCompany(company)">
          {{company.name}}
          <mat-icon matChipRemove *ngIf="removable">&times;</mat-icon>
        </mat-chip>
        <input #triggerCompany type="text" matInput placeholder="Filtrati dupa numele companiei" formControlName="companyFilter"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputFor]="chipListCompany" [matAutocomplete]="autoCompany">
      </mat-chip-list>
      <mat-autocomplete #autoCompany="matAutocomplete" (optionSelected)="selectedCompany($event)">
        <mat-option *ngFor="let company of filteredCompanies" [value]="company">
          {{company.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <mat-chip-list #chipListSkill>
        <mat-chip *ngFor="let skill of selectedSkills" [selectable]="false" [removable]="removable" (removed)="removeSkill(skill)">
          {{skill}}
          <mat-icon matChipRemove *ngIf="removable">&times;</mat-icon>
        </mat-chip>
        <input #triggerSkill type="text" matInput placeholder="Filtrati dupa skill-uri" formControlName="skillFilter" [matChipInputFor]="chipListSkill"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matAutocomplete]="autoSkill">
      </mat-chip-list>
      <mat-autocomplete #autoSkill="matAutocomplete" (optionSelected)="selectedSkill($event)">
        <mat-option *ngFor="let skill of filteredSkills" [value]="skill">
          {{skill}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

  </mat-expansion-panel>
</form>
