<mat-card routerLinkActive="active" [routerLink]="[internship.id]">
  <mat-card-header>
    <div mat-card-avatar>
      <img mat-card-sm-image src="{{logo}}" alt="{{internship.title}}">
    </div>
    <mat-card-title>{{internship.title}}</mat-card-title>
    <mat-card-subtitle>{{company !== undefined ? company.name : ''}}</mat-card-subtitle>
    <div class="header-text">
      <div class="mat-card-subtitle date">
        Start date: {{internship.startDate}}
      </div>
      <div class="mat-card-subtitle date">
        End date: {{internship.endDate}}
      </div>
    </div>

  </mat-card-header>
  <mat-card-content>
    <p>
      {{ internship.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <span *ngFor="let tag of tags">#{{tag.name}} </span>
  </mat-card-actions>
</mat-card>
