<h1 mat-dialog-title>Edit profile</h1>
<div mat-dialog-content>
  <div class="main-container">
    <mat-form-field>
      <input matInput [(ngModel)]="studentProfileTemp.firstName" placeholder="Prenume"
             value={{studentProfileTemp.firstName}} onchange="">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="studentProfileTemp.lastName" placeholder="Nume"
             value={{studentProfileTemp.lastName}}>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput [(ngModel)]="studentProfileTemp.description" placeholder="Descriere"
                value={{studentProfileTemp.description}}></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-select [(ngModel)]="studentProfileTemp.faculty" placeholder="Facultate">
        <mat-option value="Matematica si Informatica, UBB">Matematica si Informatica, UBB</mat-option>
        <mat-option value="FSEGA, UBB">FSEGA, UBB</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="studentProfileTemp.phone" placeholder="Telefon" value={{studentProfileTemp.phone}}>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="studentProfileTemp.email" placeholder="Email" value={{studentProfileTemp.email}}>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="studentProfileTemp.linkedinPage" placeholder="Linkedin"
             value={{studentProfileTemp.linkedinPage}}>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="studentProfileTemp.facebookPage" placeholder="Facebook"
             value={{studentProfileTemp.facebookPage}}>
    </mat-form-field>
  </div>
</div>
<div class="float-right" mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="onNoClick()">Cancel</button>
  <button mat-raised-button (click)="onSaveClick()">Save</button>
</div>
