<ul class="list-group">
  <li class="list-group-item w-100" *ngFor="let internship of internshipList; let lastItem = last;">
    <div class="internship" (click)="redirectToInternshipPage(internship.internship.id)">
      <div class="row">
        <div class="col-sm-8">
          <h5>{{internship.internship.title}}</h5>
        </div>
        <div class="col-sm-4 status {{internship.internshipRequestStatus}}">
          {{internship.internshipRequestStatus}}
        </div>
      </div>
    </div>
  </li>
</ul>
