<h1 mat-dialog-title>Edit profile</h1>
<div mat-dialog-content>
  <div class="main-container">
    <mat-form-field>
      <input matInput [(ngModel)]="internship.title" placeholder="First name"
             value="{{internship.title}}" onchange="">
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker1" placeholder="Start Date" [(ngModel)]="internship.startDate">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1 startView="year"></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker2" placeholder="End Date" [(ngModel)]="internship.endDate">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 startView="year"></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker3" placeholder="Deadline" [(ngModel)]="internship.deadline">
      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
      <mat-datepicker #picker3 startView="year"></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput [(ngModel)]="internship.description" placeholder="Description"
                matTextareaAutosize matAutosizeMinRows=7
                value={{internship.description}}></textarea>
    </mat-form-field>
  </div>
</div>
<div class="float-right" mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="onNoClick()">Cancel</button>
  <button mat-raised-button (click)="onSaveClick()">Save</button>
</div>