<h1 mat-dialog-title>Edit profile</h1>
<div mat-dialog-content>
  <div class="main-container">
    <mat-form-field>
      <input matInput [(ngModel)]="company.name" placeholder="Name"
             value="{{company.name}}" onchange="">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="company.dimension" placeholder="No of employees"
             value={{company.dimension}}>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput [(ngModel)]="company.description" placeholder="Description"
                matTextareaAutosize matAutosizeMinRows=7
                value={{company.description}}></textarea>
    </mat-form-field>
  </div>
</div>
<div class="float-right" mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="onNoClick()">Cancel</button>
  <button mat-raised-button (click)="onSaveClick()">Save</button>
</div>
