<div class="col-md-12">
  <div class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLinkActive="active" *ngFor="let item of menuNavBar;let i = index"
           [ngClass]="{'active':i == 0}"
           [routerLink]="['./' + item.path]"
           [queryParams]="item.params ? {company: item.params} : {}">{{item.title}}</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</div>

